BasedOnStyle: LLVM

AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
EmptyLineAfterAccessModifier: Always
IndentWidth: 4
PenaltyReturnTypeOnItsOwnLine: 9999
PointerAlignment: Left
